# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. MatPlotLib

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| R Studio |
| Git |

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

In [3]:
t_m = int(input("Enter time in minutes: "))
t_h = t_m/60
print("Time in hours: ",t_h)

Enter time in minutes:  150

Time in hours:  2.5

**Objectives**
- python
- R
- SQL

## Author
shabarish